<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Boite de control</h5>



      <div>
        <button class="btn btn-primary" style="width: 100%;margin-bottom: 10px;"  (click)="allumerTout()">allumé tout</button>
        <button class="btn btn-primary"  style="width: 100%;margin-bottom: 10px" (click)="eteindrett()">eteindre tout</button>
        <button class="btn btn-primary"  style="width: 100%;margin-bottom: 10px" (click)="connectertt()">connecter tout</button>
        <button class="btn btn-primary"  style="width: 100%;margin-bottom: 10px" (click)="deconnectertt()">deconnecter tout</button>
        <button class="btn btn-primary"  style="width: 100%;margin-bottom: 10px" (click)="ajouter()">ajouter</button>
      </div>




  </div>
</div>
