
<div class="container">
  <div class="card text-left">
    <img class="card-img-top">
    <div class="card-body">
      <h4 class="card-title">Authentification</h4>
      <form #f="ngForm" (ngSubmit)="onSubmit(f.value);f.reset()">
        <div class="form-group">
          <label for=""></label>
          <input type="text" class="form-control" name="email" ngModel  aria-describedby="helpId" placeholder="email">
        </div>
        <div class="form-group">
          <label for=""></label>
          <input type="passeword" class="form-control" name="password" ngModel aria-describedby="helpId" placeholder="password">
        </div>
        <div>
          <button class="btn btn-info" type="submit">Se connecter</button>
        </div>
      </form>
    </div>
  </div>
</div>
