<!-- <div class="container">
  <app-navbar></app-navbar>
    <div class="row" style="margin-top: 50px;">
      <div class="col-md-7" style="margin-top: 50px;">
        <app-show-errors></app-show-errors>
        <app-object-domotique></app-object-domotique>
        <app-add-object-domotique></app-add-object-domotique>
    </div>
    <div class="col-md-5">
      <app-palette-button></app-palette-button>
    </div>
    </div>
</div> -->
<div class="container">
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
</div>

